@import url(//fonts.googleapis.com/css?family=Pacifico);
@import url(//fonts.googleapis.com/css?family=Orbitron);

.dash-body h2 {
    font-family: Pacifico;
    color: #03A9F4;
    text-shadow: 3px 3px #757575;
}
.dash-body h6 {
    font-family: Orbitron;
    // font-weight: bold;
    color: #616161;
    text-shadow: 1px 1px #757575;
}
  
.logo-bg-img-login {
    position: relative;
    width: 300px;
    height: 110px;
    padding: 14px;
}


